  body {
    background: url("src/imagens/bg.jpg");
    color: #FFFFFF;
  }

  header {
    padding: 20px 0;

  }

  .titulo-principal {
    position: relative;
    width: 940px;
    margin: 0 auto;

  }

  .titulo-principal h1 {
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    top: 20px;
    right: 0;

  }

  nav {
    position: absolute;
    top: 110px;
    right: 0;

  }

  nav li {
    display: inline;
    margin: 0 0 0 15px;

  }

  nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }

  nav a:hover {
    color: #C78C19;
    text-decoration: underline;

  }

  .banner {
    width: 100%;
  }

  .principal {
    width: 940px;
    margin: 0 auto;
    padding: 30px;
  }

  .utensilios {
    width: 140px;
    float: left;
    margin: 0 20px 20px 0;
  }

  .principal h2{
    margin: 0 0 1em;
    font-size: 2em;
    text-align: center
  }

  .principal p {
    margin: 0 0 1em;
    padding-top: 10px;
    text-align: center
  }

  .principal strong {
    font-weight: bold;
  }

.principal em{
  font-style: italic;
}
  .beneficios {
    background: url("src/imagens/bg-madeira-clara.jpeg");
    padding: 20px;
    color: #FFFFFF;
  }

  .beneficios h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    clear: left;
  }

  .beneficios h3:hover {
    color: #C78C19;
  }

  .beneficios ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

  }

  .beneficios li {
    margin-top: 20px;
    font-style: italic;
    font-size: 40px;
  }

  .beneficios li:hover {
    color: #C78C19;
  }

  .imagembeneficios {
    margin-top: 30px;
    width: 30%;
  }

  footer {
    text-align: center;
    padding: 40px 0;
  }

  .copyrigth {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
  }

  .copyrigth:hover {
    color: #C78C19;
  }